.register{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
}

  .checkout {
        border: 5px solid;
        border-radius: 50px;
        padding: 30px;
        height: 300px;
        width: 400px;
        border-style: outset;
    }
    .check2 {
    
        border: 5px solid;
        border-radius: 50px;
        padding: 10px;
        height: 400px;
        width: 550px;
        border-style: outset;
    }